* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
}

p {
  font-size: 1.4rem;
  line-height: 1.8rem;
}

.flex {
  display: flex;

  &.wrap {
    flex-flow: row wrap;
  }

  &.col {
    flex-flow: column;

    &.wrap {
      flex-flow: column wrap;
    }
  }
}

.cabecalho {
  position: sticky;
  z-index: 9999;
  top: 0;
  left: 0;
  padding: 1.6rem 3.12rem;
  box-shadow: 0 0.21rem 0.4rem rgba(65, 62, 62, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.5rem;
  padding: 0.82rem 2rem;
  background-color: #7979a1;

  & img {
    width: 5rem;
    transform: scale(1.5, 1.5);
  }

  & .nav-lista {
    display: flex;
    gap: 2.5rem;
    font-size: 1.6rem;
    list-style: none;
    /* align-items: center; */

    & a {
      text-decoration: none;
      color: #5e2a8f;
      font-weight: 520;
    }
  }
}

/* CARROSSEL */
h1 {
  font-size: 2.4rem;
  color: #5e2a8f;
}
.home {
  background-color: #d4cdcd;
  padding: 4rem;
  padding-bottom: 8rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 3rem;
}

.carrossel {
  position: relative;
  max-width: 1000rem;

  & .container {
    overflow: hidden;
  }

  & .imagens {
    gap: 0.82rem;
    width: max-content;

    & .imagem {
      position: flex;
      width: min(
        calc(calc(100rem - calc(2 * 0.82rem)) / 3),
        calc(calc(100vw - calc(2 * 0.82rem)) / 3)
      );

      justify-content: center;
      overflow: hidden;
      aspect-ratio: 1/1;
      align-items: center;
      /* border-radius: 1.5rem; */

      /* &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;

        & img {
          height: 100%;
        } */
    }
  }
}

& .botao {
  position: absolute;
  background-color: #4b286de1;
  color: white;
  border-radius: 0.8rem;
  width: 3rem;
  height: 3rem;
  justify-content: center;
  align-items: center;
  z-index: 1;
  top: 50%;
  cursor: pointer;
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.2);

  &.esquerda {
    transform: translate(-150%, -50%);
  }

  &.direita {
    right: 0;
    transform: translate(150%, -50%);
  }
}

/* RODAPE */
.rodape {
  background-color: rgba(139, 233, 139, 0.527);
  padding: 2rem;

  & .info-rodape {
    display: flex;
    gap: 2rem;
    /* justify-content: space-between; */
  }



  & iframe {
    height: min-content;
    width: max-content;
  }
}

.logo-whatsapp {
  position: fixed;
  right: 1rem;
  bottom: 0.8rem;
  width: 6.5rem;

  & img {
    width: 100%;
  }
}

