* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
}

p {
  font-size: 1.4rem;
  line-height: 1.8rem;
}

.cabecalho {
  position: sticky;
  z-index: 9999;
  top: 0;
  left: 0;
  padding: 1.6rem 3.12rem;
  box-shadow: 0 0.21rem 0.4rem rgba(65, 62, 62, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.5rem;
  padding: 0.82rem 2rem;
  background-color: #7979a1;
}

.cabecalho img {
  width: 5rem;
  position: relative;
}

.nav-lista {
  display: flex;
  gap: 2.5rem;
  font-size: 1.6rem;
  list-style: none;
  /* align-items: center; */
}

.nav-lista a {
  text-decoration: none;
  
}

/* CARROSSEL */
h1 {
  font-size: 2.4rem;
  color: rgb(94, 42, 143);
}
.carrossel {
  background-color: rgb(212, 205, 205);
  padding: 4rem;
  padding-bottom: 8rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 3rem;
}

.imagens-carrossel {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.imagens-carrossel img {
  height: 20rem;
  box-shadow: 1 1 1 black;
}

/* .img-projetos:link,
.img-projetos:active {
  
} */

.img-projetos:hover,
.img-projetos:visited {
height: 40rem;
}

/* RODAPE */
.rodape {
  background-color: rgba(139, 233, 139, 0.527);
  padding: 2rem;
}

.info-rodape {
  display: flex;
  gap: 2rem;
  /* justify-content: space-between; */
}

.logo-whatsapp {
  position: fixed;
  right: 1rem;
  bottom: 0.8rem;
  width: 6.5rem;
}

.logo-whatsapp img {
  width: 100%;
}
